/* Header.css */

  #navbarNav{
    margin-left: 50%;
  }
  
  .navbar {
    background-color: whitesmoke;
    border-bottom: 10px solid white;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .navbar:hover{
    border-bottom: 10px solid aqua;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;

  }
  .nav-item > a{
    color: blue;
}

  .logo{
    z-index: 20;
    width: 120px;
    height: 120px;
    position:absolute;
    left: 15%;
    top: 0;
    
  }
  .nav-item {
    
    line-height: 40px;
    margin-right: 2rem;
    font-weight: bolder;
    
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: red;
  }
  
  .nav-item.active {
    color: #5ffc04;
  }
  
  @media screen and (max-width: 960px) {
  
   .nav-item.active {
      color: #ffdd40;
      border: none;
    }
  

    .nav-item > a{
        color: white;
        padding: 10px;
    }
  
    .navbar-toggler{
        margin-right: 20%;
            }
     #navbarNav{
background-color:lightskyblue;
border-radius: 20px;
border: #0384fc 2px solid;
height: 350px;
            }
  }
  